div.merchant-form{
  width: 50%;
  margin: 0 auto;
  transform: translate(10%, 10%);
  border-radius: 5px;
  background: #e5e8ed;
  box-shadow: 0px 0px 15px 2px #ccc;
  padding-bottom: 10px;
  h1{
    text-align: center;
    color: #fff;
    background: #323a45;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  form.form{
    padding: 10px 40px;
    i{
      background: #f2f5f7;
      padding: 0px;
      height: 40px;
      line-height: 40px;
      width: 40px;
      text-align: center; 
      color: #777;
    }
    input {
      border: none;
      outline: none;
      background-color: #f2f5f7;
      padding: 0px 10px;
      margin: 0 auto;
      margin-top: 15px;
      margin-left: 5px;
      width: 84%;
      height: 40px;
      &.input-error{
        border: 1px solid #eabdbd;
      }
    }
    .name{
      input{
        width: 39%;
      }
    }
    .checkbox{
      input{
        width: auto;
        margin-right: 10px;
        height: auto;
      }
    }
    span.name-box{
      position: relative;
      span.error{
        position: absolute;
        bottom: -30px;
        left: -40px;
      }
      input.input-error {
        margin-bottom: 15px;
      }
    }
    span.error{
      font-size: 12px;
      color: red;
      margin-left: 50px;
      &.warning{
        color: yellow;
      }
    }
    button{
      outline: none;
      border: none;
      width: 100%;
      background: #37b9d5;
      height: 40px;
      color: #fff;
      margin-top: 15px;
      font-size: 16px;
    }
  }
}