div.merchant-list-page{
    margin-top: 10vh;
    a.btn-add {
        text-decoration: none;
        float: right;
        margin-right: 5%;
        margin-bottom: 20px;
        background-color: #2F363A;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
}